@page "/AdditionalPages/AddContact"
@using UsersModels.UsersLibrary

<PageTitle>Add Contact</PageTitle>

<h1 class="text-success">Add Contact</h1>
<div class="row">
    <div class="col-6 border p-3">
        <h3 class="text-primary">Input Details</h3><hr />
        <input class="w-75" type="text" @bind-value="@UserItems.Name" @bind-value:event="oninput" /><br /><br />
        <input class="w-75" type="text" @bind-value="@UserItems.Phone" @bind-value:event="oninput" /><br /><br />
        <input class="w-75" type="text" @bind-value="@UserItems.Email" @bind-value:event="oninput" /><br /><br />
        <input class="w-75" type="text" @bind-value="@UserItems.Address" @bind-value:event="oninput" /><br /><br />
        <input class="w-75" type="text" @bind-value="@UserItems.Facebook" @bind-value:event="oninput" /><br /><br />
        <div>Active: <input type="checkbox" @bind-value="UserItems.IsActive" checked="@(UserItems.IsActive ? "active" : null)" /></div><br />
        <div>This @UserItems.Name is: @(UserItems.IsActive ? "IsActive" : "InActive")</div><br />
    </div>

    <div class="col-6 border p-3">
        <h3 class="text-primary">Contact Summary</h3><hr />
        Name: @(UserItems.IsActive ? UserItems.Name : null)<br /><br /><br />
        Phone: @(UserItems.IsActive ? UserItems.Phone : null)<br /><br /><br />
        Email: @(UserItems.IsActive ? UserItems.Email : null)<br /><br /><br />
        Address: @(UserItems.IsActive ? UserItems.Address : null)<br /><br /><br />
        Facebook: @(UserItems.IsActive ? UserItems.Facebook : null)<br /><br /><br />
    </div>
</div>


@code {
    UsersModels.UsersLibrary.UserItems UserItems = new()
        {
            Id = 1,
            Name = "name",
            Email = "e-mail",
            Address = "address",
            Phone = "phone",
            Facebook = "fb profile",
            IsActive = true
        };
}
